.info{
    background-color: #28292B;
    height: 640px; /* Altura*/
    margin: 15px;
    margin-top: 30px;
    border: 1px solid;
    color: #ddd;
    padding: 20px;
}

/*Los input del formulario*/
.form-control{
    background-color: #1A1A1A;
    border-color: #585858;
    color: #ddd;
    transition: border-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:hover{
    background-color: #1A1A1A;
    color: #ddd;
}

.form-control:invalid{
    background-color: #1A1A1A;
    color: #ddd;
}

.form-control:valid{
    background-color: #1A1A1A;
    color: #ddd;
}

/* Estilo para cuando el campo está enfocado */
.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #007bff;
}


